<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>Login</h1>
    <h2>Or Signup <a href="/signup">here</a></h2>
</header>
<main>
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Log in">
    </form>
</main>
<footer>

</footer>
</body>
</html>