<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>Sign Up</h1>
    <h2 th:if="${errorMessage}" th:text="${errorMessage}"></h2>
</header>
<main>
    <form action="/signup" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="firstName">firstName</label>
        <input type="text" name="firstName">
        <label for="lastName">lastName</label>
        <input type="text" name="lastName">
        <label for="bio">BIO</label>
        <input type="textarea" name="bio">
<!--        <label for="dateOfBirth">Date of Birth</label>-->
<!--        <input type="date" name="dateOfBirth" placeholder="MM/DD/YYYY">-->
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Sign Up">
    </form>
</main>
<footer>

</footer>
</body>
</html>